@using Secure_Coding.MvcSecurityExtensions;
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CodeLock.Models.GetAllStateCredential
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<div class="widget-wrap">
    <div class="row container-fluid col-12 p-0 m-0 mb-4">
        <div class="form-group m-0 col-12 col-sm-6 col-md-3">
            <label class="form-label">State</label>
            <select class="form-select form-control" id="stateWise">
                <option value="1">Particular</option>
                <option value="2">All State</option>
            </select>
        </div>
        <div class="form-group m-0 col-12 col-sm-6 col-md-3" id="stateDropdownContainer">
            <label class="form-label">State</label>
            @Html.DropDownListFor(model => model.StateId, 
                new SelectList(ViewBag.stateList, "StateId", "StateName"), 
                "Select Sate", new { 
                @class = "form-control select2", 
                @id = "ddlWarehouse"
           })
        </div>
        <div class="form-group m-0 col-12 col-sm-6 col-md-3">
            <label for="exampleInputEmail1">Date</label>
            <input type="date" class="form-control" id="ewbDate">
        </div>
        <div class="form-group m-0 col-12 col-sm-6 col-md-3">
            <input type="button" class="btn btn-sm btn-primary" id="btnSendRequest" value="Submit Detail" />
        </div>
        <div id="dvEwaybill">

        </div>
    </div>

</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            // Toggle stateDropdown and button behavior based on stateWiseValue
            toggleStateDropdown($('#stateWise').val());
            // Handle change event on #stateWise dropdown
            $('#stateWise').change(function () {
                var selectedValue = $(this).val();
                toggleStateDropdown(selectedValue);
            });

            function toggleStateDropdown(stateWiseValue) {
                if (stateWiseValue === '1') {
                    $('#stateDropdownContainer').show(); // Show stateDropdown
                    $("#btnSendRequest").off('click').on('click', function () { // Remove previous click handlers and add new one
                        console.log(ewbDate);
                        var ewbDate = moment($('#ewbDate').val(), "YYYY-MM-DD", true).format("YYYYMMDD"); // Format ewbDate using Moment.js
                        var stateDropdown = $("#stateDropdown").val(); // Initial stateDropdown value
                        console.log(stateDropdown && ewbDate && ewbDate !== 'Invalid date')
                        if (stateDropdown && ewbDate && ewbDate !== 'Invalid date') {
                            var url = '@Url.Action("SubmitDataInDb", "FetchByTransporter")'; // Assuming correct URL for AJAX call
                            $.ajax({
                                type: "POST",
                                url: url,
                                data: JSON.stringify({ model: { StateId: stateDropdown, EwbDate: ewbDate } }), // Adjusted data structure
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (data) {
                                    data = data;
                                    console.log(data);
                                    // $("#submitHiddenButton").show();
                                    rootObj = data[0];
                                    EWBDetails = data[0].EWBDetails;
                                    if (!EWBDetails) {
                                        alert(rootObj.ErrorMessage);
                                    }
                                    if (data.Error) {
                                        alert(data.Error);
                                        console.log(data.Error)
                                    }
                                    else {
                                        var tableContent = '';
                                        tableContent +=
                                            `<table id="ewbDataTable" class="table table-responsive table-bordered table-striped display nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Party GSTIN</th>
                                                    <th>EwayBill No</th>
                                                    <th>Date</th>
                                                    <th>Document No</th>
                                                    <th>Valid Upto</th>
                                                    <th>Delivery Place</th>
                                                    <th>Del Pin</th>
                                                    <th>Del State Code</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>`;

                                        $("#dvEwaybill").html(tableContent);
                                        $('#ewbDataTable').dataTable({
                                            data: EWBDetails, // Assuming 'value' is the array of objects in your JSON
                                            lengthMenu: [
                                                [5, 10, 20, 30], [5, 10, 20, 30]
                                            ],
                                            pageLength: 5,
                                            columns: [
                                                { data: 'genGstin' },
                                                { data: 'ewbNo' },
                                                { data: 'ewbDate' },
                                                { data: 'docNo' },
                                                { data: 'validUpto' },
                                                { data: 'delPlace' },
                                                { data: 'delPinCode' },
                                                { data: 'delStateCode' },
                                                { data: 'status' }
                                            ]
                                        });
                                    }
                                },
                                error: function (xhr, status, error) {
                                    console.log(xhr.responseText);
                                }
                            })
                        } else {
                            alert('Please choose the State and Ewaybill date');
                        }
                    });
                }
                else if (stateWiseValue === '2') {
                    $('#stateDropdownContainer').hide(); // Hide stateDropdown
                    $("#stateDropdown").val(""); // Clear stateDropdown value
                    $("#btnSendRequest").off('click').on('click', function () { // Remove previous click handlers and add new one
                        ewbDate = moment($('#ewbDate').val(), "YYYY-MM-DD", true).format("YYYYMMDD"); // Format ewbDate using Moment.js
                        console.log(ewbDate && ewbDate !== 'Invalid date')
                        if (ewbDate && ewbDate !== 'Invalid date') {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("SubmitDataInDb", "FetchByTransporter")',
                                data: JSON.stringify({ model: { StateId: stateDropdown, EwbDate: ewbDate } }),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (response) {
                                    if (response.success) {
                                        console.log("Data submitted successfully : ", response);
                                        alert(response.message);
                                        console.log(response.data.EWBDetails)
                                        var tblEwaybillContent = `
                                        <table id="dtEwaybill" class="display" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>CardCode</th>
                                                    <th>CardType</th>
                                                    <th>CardName</th>
                                                    <th>CreateDate</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Table body will be populated dynamically -->
                                            </tbody>
                                        </table>`;
                                        $("#dvEwaybill").html(tblEwaybillContent);

                                        // Initialize DataTable
                                        var table = $('#dtEwaybill').DataTable({
                                            data: response.data.EWBDetails, // Assuming response.data.EWBDetails is your array of objects
                                            columns: [
                                                { data: 'ewbNo', name: 'CardCode', autowidth: true },
                                                { data: 'genGstin', name: 'CardType', autowidth: true },
                                                { data: 'docNo', name: 'CardName', autowidth: true },
                                                { data: 'validUpto', name: 'CreateDate', autowidth: true },
                                                {
                                                    data: null,
                                                    render: function (data, type, row) {
                                                        // Example action button
                                                        return '<button class="btn btn-primary">Action</button>';
                                                    },
                                                    autowidth: true
                                                }
                                            ],
                                            language: {
                                                emptyTable: 'No records found.',
                                                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span>'
                                            }
                                        });
                                    }
                                    else {
                                        alert("Data not submitted : ", response.message);
                                    }
                                },
                                error: function (xhr, textStatus, errorThrown) {
                                    console.error('Error:', errorThrown);
                                    console.log('Error : ', errorThrown);
                                    // Handle error response if needed
                                }
                            });
                        }
                        else {
                            alert("Please choose the Ewaybill Date");
                        }
                    });
                }
            }
        });
    </script>
}